header {
  background: #CCC;
  color: white;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  gap: 32px;
}

.cart-button {
  position: relative;

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    top: -14px;
    left: -7px;
    background: black;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}
