body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: black;
  width: 1200px;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}